html {background-color: lavenderblush}
h1 { color: purple;
    font-family:Arial;
    font-size: x-large
}
h2 { color: lightseagreen; 
    font-family: Arial;
    font-size: larger}
h3 { color: purple; 
    font-family: Arial;
    font-size:medium}

p {font-family: Arial;
    font-size: 14px;
    border: lavenderblush;
    margin: 50px;
}

div.class {text-align: center;
}
ul.myUL {display: inline-block;
        text-align: left;
    }
div.hope {text-align: center;
}

.class {
    background-color: plum;
    color: purple;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
  }
.fact {
    background-color: lightblue;
    color: purple;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}
  h1 {text-align: center;}
  h2 {text-align: center;}
  h3 {text-align: center;}
  img {display: block;
      margin-left: auto;
      margin-right: auto;  
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  header {
    background-color: cadetblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: purple;
  }

  footer {
    background-color: cadetblue;
    padding: 10px;
    text-align: center;
    color: purple;
  }
  table, td {
    border:1px solid black;
    padding: 5px;
  }
  th {color: purple
}